

body {
    margin: 0;


    font-family: "Cuprum",Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    text-transform: none;


}

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

.content-box-component {
    box-sizing: content-box;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}

h2 {
    margin: 0;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
}

.button {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    border-radius: 5%;
    text-transform: uppercase;
}

.page-header {
    display: flex;
    flex-direction: column;
    background: #f3f7f8;
    padding-bottom: 60px;
    margin-bottom: 60px;
}
.container {
    width: 960px;
    padding: 0px 10px;
    margin: 0 auto;
}

.top-menu {
    background-color: #293449;
    width: 100%;
}

.top-menu__wrapper {
    display: flex;
}

.top-menu__logo {
    width: 220px;
    padding-top: 10px;
    text-align: center;
    display: block;
    position: relative;
    background-color: #ff3333;
}

.top-menu__logo:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 5px;
    left: 0;
    bottom: -5px;
    background-color: #b52933;
}

.top-menu__logo:hover,
.top-menu__logo:focus {
    background-color: #ca2c37;
}

.top-menu__logo:active {
    background-color: #ba2732;
}

.top-menu__search {
    width: 270px;
    position: relative;
}

.top-menu__search input {

}

.top-menu__search label {

}

.top-menu__bookmarks {
    width: 150px;
    position: relative;
    padding-left: 50px;
}

.top-menu__bookmarks:hover,
.top-menu__bookmarks:focus {
    background-color: #212a3a;
}

.top-menu__bookmarks:active {
    background-color: #003333;
}

.top-menu__bookmarks::before {
    content: "";

    position: absolute;
    left: 17px;
    top: 14px;

    width: 16px;
    height: 16px;

    background-image: url("../img/icon-bookmark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}
.top-menu__bookmarks:hover::before,
.top-menu__bookmarks:focus::before {
    opacity: 1;
}

.top-menu__basket {
    width: 150px;
    position: relative;
    padding-left: 50px;
}

.top-menu__basket:hover,
.top-menu__basket:focus {
    background-color: #212a3a;
}

.top-menu__basket:active {
    background-color: #003333;
}

.top-menu__basket::before {
    content: "";

    position: absolute;
    left: 17px;
    top: 14px;

    width: 16px;
    height: 16px;

    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.top-menu__basket:hover::before,
.top-menu__basket:focus::before {
    opacity: 1;
}

.top-menu__number {
    padding-left: 3px;
}

.top-menu__link {

    display: block;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom:
    padding-right: 31px;
}

.top-menu__link--green {
    display: inline-block;
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;

    background-color: #669933;
}

.top-menu__link--green:hover,
.top-menu__link--green:focus {
    background-color: #5fbb2d;
}

.top-menu__link--green:active {
    background-color: #518534
}

.top-menu__link--green {
    color: #ffffff;
    background-color: #669933;
}

.block-header__wrapper {

    display: flex;
    justify-content: space-between;
}

.block-header__title {
    width: 270px;
    margin: 0;
    padding-top: 38px;
    padding-left: 53px;
    margin-bottom: 40px;

    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    color: #ff3333;
}

.block-header__contact {
    width: 270px;
    display: flex;
    flex-direction: column;
    padding-top: 45px;
}

.block-header__title-phone {
    padding-top: 8px;
    padding-left: 70px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    font-size: 21px;
    line-height: 21px;
    color: #ff3333;
    border: 2px solid #ffffff;
    background: url("../img/icon-phone.svg") no-repeat 5% 50%;
}

.block-header__title-contact {
    font-family: "Cuprum";
    font-weight: 400;
    color: #32425c;
    font-size: 14px;
    line-height: 24px;
    padding-left: 10px;
    margin-bottom: 40px;
}

.block-header__user-list {
    width: 280px;
    padding-top: 45px;
    margin-bottom: 68px;
    display: flex;
    justify-content: space-between;
}

.user-list__login {
    display: inline-block;
    position: relative;
    width: 120px;
    font-size: 21px;
    lint-height: 21px;
    color: #000000;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 27px;
    background-color: #ffffff;
}

.user-list__login:hover,
.user-list__login:focus {
    color: #ff3333;
}

.user-list__login:active {
    color: #cacaca;
}

.user-list__login::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 20px;
    width: 20px;
    height: 17px;
    background-image: url("../img/icon-login.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

}

.user-list__login:hover::before ,
.user-list__login:focus::before {
   background-image: url("../img/icon-login - focus.svg");
}

.user-list__login:active::before {
    background-image: url("../img/icon-login.svg");
}

.user-list__registration {
    display: inline-block;
    text-align: center;
    width: 150px;
    font-size: 21px;
    lint-height: 21p;
    color: #000000;
    padding-top: 12px;
    padding-bottom: 10px;

    background-color: #ffffff;
}

.user-list__registration:hover,
.user-list__registration:focus {
    color: #ff3333;
}

.main-nav__wrapper {
}
.site-list {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #32425c;
    border-bottom: 5px solid #293449;
}

.site-list__link {
    display: block;
    color: #ffffff;
    padding: 16px 30px 15px;
}
.site-list__item:hover,
.site-list__link:hover,
.site-list__link:focus,
.site-list__item:focus {
    background-color: #333333;
}

.site-list__link:active {
    color: #999999;
}
.promo__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.promo__block {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.promo__block--mat {
    position: relative;
    width: 300px;
    display: flex;
    flex-direction: column;
    background: #ffbf47
   url("../img/icon-1.svg") no-repeat 83% 53%;
    margin-bottom: 20px;
}

.promo__block--mat:before {
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;
    width: 60px;
    height: 60px;
    background: url("../img/new flag.png") no-repeat;
}

.promo__block--inst {
    width: 300px;
    display: flex;
    flex-direction: column;
    background: #3bbce3
    url("../img/icon-2.svg") no-repeat 83% 53%;
    margin-bottom: 17px;
}
.promo__block--teh {
    width: 300px;
    display: flex;
    flex-direction: column;
    background: #dc91d8
    url("../img/icon-3.svg") no-repeat 83% 53%;
    margin-bottom: 17px;
}

.promo__block--sale {
    width: 300px;
    display: flex;
    flex-direction: column;
    background: #8ed78f
    url("../img/icon-4.svg") no-repeat 83% 53%;
    margin-bottom: 17px;
}
.promo__block--del {
    width: 300px;
    display: flex;
    flex-direction: column;
    background: #ffc047
    url("../img/icon-5.svg") no-repeat 83% 53%;
    margin-bottom: 17px;
}

.promo__title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    padding-top: 22px;
    padding-left: 22px;
    margin-bottom: 12px;
    opacity: 0.5%;
}

.promo__link {
    width: 134px;

    text-align: center;
    display: inline-block;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: 25px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    background-color: rgba(230,230,230,0.5);
}

.promo__link:hover,
.promo__link:focus {
    background-color: rgba(204,204,204,0.5);
}

.promo__link:active {
    background-color:rgba(178,178,178,0.5);
}

.slider {
    margin-bottom: 52px;
}

.slider__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slider__item {
    position: relative;
    width: 620px;
    height: 266px;
    background: url("../img/slider1.png");
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 22px;
}

.slider__title {
    margin: 0;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 5px;
}

.slider__text {
    font-size: 18px;
    line-height: 24px;
    
}

.slider__next {
    position: absolute;
    width: 22px;
    height: 40px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    top: 45%;
    left: 4%;

    background-image: url("../img/icon-left.svg");
}

.slider__back {
    position: absolute;
    width: 22px;
    height: 40px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    top: 45%;
    right: 4%;

    background-image: url("../img/icon-right.svg");
}


.slider__button {
    width: 195px;
    margin-top: 120px;
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    padding-top: 11px;
    padding-bottom: 11px;
    color: #ffffff;
    background-color: #ee3643;
}

.slider__button:hover,
.slider__button:focus {
    background-color: #ca2c37;
}

.slider__button:active {
    background-color: #ba2732;
}

.promo__right-block {
    display: flex;
    flex-direction: column;
}

.col-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f5f0;
    padding: 25px 25px;
    margin-bottom: 20px;

}

.col-title__text {
    color: #333366;
    font-size: 30px;
    line-height: 30px;



}                   

.col-title__button {
    width: 252px;
    
    display: inline-block;
    text-align: center;
    padding-top: 11px;
    padding-bottom: 11px;
    color: #ffffff;
    background-color: #ee3643;

}

.col-title__button:hover,
.col-title__button:focus {
    background-color: #ca2c37;
}

.col-title__button:active {
    background-color: #ba2732;
}

.catalog__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 21px;
}

.catalog__item {
    display: flex;
    flex-direction: column;
   
    width: 220px;
    display: inline-block;
    position: relative;
    text-align: center;
    margin-right: 20px;
    border: 1px solid #ccc;
}

.catalog__item:nth-child(4n) {
    margin-right: 0;
}

.catalog__image img {
    width: 218px;
    height: 168px;
}


.actions {
  position: absolute;
  top: 0;
  left: 0;
  
  width: 218px;
  height: 88px;
  padding: 40px 0;
  
  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}

.actions .buy,
.actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;
  
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.actions {
  display: none;
}

.catalog__item:hover .actions {
  display: block;
}

.catalog__item:hover {
    box-shadow: 1px 1px 10px 5px #d4d6db;
}





.catalog__image {
    margin-bottom: 7px;
}

.catalog__title {
    color: #000000;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    min-height: 40px;
    padding: 0 25px;
    margin-bottom: 10px;
}

.catalog__discont {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    color: #999999;
    min-height: 20px;
   
    margin-bottom: 8px;
    color: #999;
    text-decoration: line-through;
}

.catalog__price {
    display: inline-block;
    position: relative;
    width: 141px;
    margin: 0px auto;
    margin-bottom: 18px;
    padding: 11px 30px;
    font-family: "PT Sans", Arial, sans-serif;
    color: #000000;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    text-decoration: none;
    color: white;
    background: #ee3643;
    border-radius: 3px;
    
}

.catalog__price:after {
    content: "";
    position: absolute;
    top: 0px;
    right: -22px;

    width: 0;
    height: 0;
    border: 20px solid white;
    border-left-color: #ee3643;
}

.catalog__flag:after {
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;
    width: 60px;
    height: 60px;
    background: url("../img/new flag.png") no-repeat;
    z-index: 11;
}

.produser__list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 65px;

}

.produser__item {
    margin-right: 20px;
    margin-bottom: 20px;
}

.produser__item:nth-child(4n+4) {
    margin-right: 0;
}

.produser__item:hover,
.produser__item:focus {
    box-shadow: 1px 1px 10px 5px #d4d6db;
}

.produser__item:active {
    opacity: 0.5;
}

.product__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    min-height: 145px;
    border: 1px solid #ccc;
}

.service {
    background-color: #f5f8fa;
}

.service__block {
    width: 400px;
}

.service__title {
    padding-top: 68px;
    margin-bottom: 25px;
    color: #000000;
}

.service__wrapper {
    position: relative;
    margin: 70px 0 54px 0;
    padding-bottom: 102px;
}

.service__wrapper:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 279px;

    left: 230px;
    top: -25px;
    background: url(../img/Layer_118_copy.png) no-repeat;
}

.service__wrapper input[type="radio"] {
    display: none;

}

.slider-controls {
   
    display: flex;
    flex-direction: column;
}

.slider-controls label {
    display: inline-block;
    width: 240px;
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    padding: 11px 0 17px 23px;
    border-bottom: 1px solid #293449;
    border-top: 1px solid #405069;
    background-color: #32425c;
    color: #fff;
    cursor: pointer;
    
    text-transform: capitalize;
}

#button-1:checked ~ .slider-controls label[for=button-1],
 #button-2:checked ~ .slider-controls label[for=button-2],
  #button-3:checked ~ .slider-controls label[for=button-3] {
    color: #32425c;
    background: #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}


.service-content {
    width: 379px;
    position: absolute;
    top: 0;
    right: 0;
    width: 620px;
    padding-bottom: 139px;
}

.service-slider1 {
   display: none;
    background: url(../img/delivery.png) no-repeat 95% 50%;
}

.service-slider2 {
    display: none;
    background: url(../img/Layer_130.png) no-repeat 95% 0%;
}

.service-slider3 {
    display: none;
    background: url(../img/Layer_119.png) no-repeat 95% 0%;
}

.service-slider__button {
    width: 195px;
    display: inline-block;
    text-align: center;
    padding-top: 11px;
    padding-bottom: 11px;
    color: #ffffff;
    background-color: #ee3643;
}

.service-slider__button:hover,
.service-slider__button:focus {
    background-color: #ca2c37;
}

.service-slider__button:active {
    background-color: #ba2732;
}

.service-slider__title {
    color: #32425c;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 20px;
}

.service-slider__text {
    width: 280px;
}

#button-1:checked ~ .service-slider > .service-slider1 {
   display: block;
}

#button-2:checked ~ .service-slider > .service-slider2 {
   display: block;
}

#button-3:checked ~ .service-slider > .service-slider3 {
   display: block;
}




















.company-block__list {
    list-style: none;
}
.company-block__item {
    line-height: 20px;
    color: #000000;
}